<div class="container">
  <h1>Welcome to User Management System</h1>
  <button mat-button (click)="openDialog()" class="btn btn-primary">Add User</button>
</div>



<div class="container">
  <h1>User List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th> Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        
     
        <td>{{ user.email }}</td>
        <td>{{ user.address.city }}</td>
        <td>
          <button class="btn btn-sm btn-info"(click)="editDialog( user.id ) " >Edit</button>&nbsp;&nbsp;
          <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

